<a href="/post">Back to list</a>
<div class="post-content">
	<h1><%= post.title%></h1>
	<p><%= post.description%></p>
</div>
<a data-doc="<%= post._id %>" href="javascript:" class="pull-right btn btn-danger" id="deleteButton">Delete</a>
<a href="/posts/edit/<%= post._id %>" class="pull-right btn btn-primary" id="deleteButton">Edit</a>

<script>
	const deleteButton = document.querySelector('#deleteButton');
	deleteButton.addEventListener('click', (e) => {
		const endpoint = `/delete_post/${deleteButton.dataset.doc}`;

		fetch(endpoint, { method: 'DELETE' })
		.then((response) => response.json())
		.then((data) => 
			window.location.href = data.redirect
		)
		.catch(err => console.log(err));
	});
</script>